.App {
  text-align: center;
  font-family: "Montserrat";
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(70, 70, 70);
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.8);
}

@keyframes navSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  animation: 0.7s ease-out 0s 1 navSlideIn;
}

.nav-btns {
  display: flex;
}

.nav-btn {
  padding: 12px;
  width: 100px;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: rgb(201, 201, 201);
}

.selected-btn {
  font-weight: 800;
  background-color: rgb(230, 228, 228);
}

.mobile-nav {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* transform: translateY(-20%); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.drk-mode-btn {
  background-color: rgb(230, 230, 230);
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}

.drk-mode-icon {
  animation: 1.7s ease-out 0s 1 fadeIn;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  /* top: 100%; */
  left: 20%;
  margin-left: -164px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

h1 {
  margin: 12px;
}

.home-hero {
  border: 1px solid rgb(180, 180, 180);
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 80px;
  border-radius: 12px;
  animation: 0.7s ease-out 0s 1 slideIn;
}

.home-hero-img {
  margin-top: 16px;
  border-radius: 50%;
  width: 300px;
  animation: 0.8s ease-out 0s 1 slideIn;
}

.home-txt {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-left: 24px;
  animation: 1s ease-out 0s 1 slideIn;
}

.about-hero {
  border: 1px solid rgb(180, 180, 180);
  width: 700px;
  padding: 60px;
  border-radius: 12px;
  margin: auto;
  animation: 0.7s ease-out 0s 1 slideIn;
}

.about-imgs {
  display: flex;
  justify-content: space-between;
  animation: 0.8s ease-out 0s 1 slideIn;
}

.about-img {
  margin-top: 16px;
  border-radius: 50%;
  width: 190px;
  height: 190px;
}

.about-txt {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin: auto;
  animation: 1s ease-out 0s 1 slideIn;
}

.resume-hero {
  border: 1px solid rgb(180, 180, 180);
  width: 1300px;
  padding: 20px;
  border-radius: 12px;
  margin: auto;
  animation: 0.7s ease-out 0s 1 slideIn;
  font-size: 0.8em;
}

.resume-title {
  margin: -4px 0px 2px 0px;
}

.resume-subtitle {
  margin: 0px;
}

.resume-txt {
  margin: auto;
  animation: 1s ease-out 0s 1 slideIn;
}

.resume-content {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.resume-left {
  width: 70%;
}
.resume-right {
  width: 25%;
}

.experience-segment {
  margin: 0px 0px 16px 0px;
}

.experience-title {
  margin: 0px 0px 8px 0px;
}

.experience-point {
  margin: 0px 0px 8px 0px;
}

.download-btn {
  font-family: Montserrat;
  color: white;
  background-color: rgb(1, 65, 121);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 326px;
  padding: 8px;
  border: 1px solid white;
  box-shadow: none;
  border-radius: 8px;
  margin-top: 24px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: rgb(2, 133, 246);
}

.connect-hero {
  border: 1px solid rgb(180, 180, 180);
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 80px;
  border-radius: 12px;
  animation: 0.5s ease-out 0s 1 slideIn;
}

.connect-hero-img {
  margin-top: 16px;
  border-radius: 50%;
  width: 300px;
  animation: 0.75s ease-out 0s 1 slideIn;
}

.connect-txt {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-right: 24px;
  animation: 1s ease-out 0s 1 slideIn;
}

.footer {
  animation: 0.7s ease-out 0s 1 slideIn;
}

.footer-txt {
  margin: auto;
  width: 400px;
  border-top: 1px solid rgb(180, 180, 180);
  padding: 12px;
  animation: 1s ease-out 0s 1 slideIn;
}

.link {
  color: rgb(1, 65, 121);
  text-decoration: none;
  font-weight: 500;
}

.hidden-link {
  color: black;
  text-decoration: none;
}

/* -------------------------------------------------------------------------------- */

/* Dark Mode Style */

.App-drk {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-container-drk {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.83);
}

.nav-bar-drk {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 50, 50);
  color: rgb(185, 185, 185);
}

.btn-drk:hover {
  background-color: rgb(25, 25, 25);
}

.selected-btn-drk {
  font-weight: 800;
  background-color: rgb(40, 40, 40);
}

.light-mode-btn {
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  background-color: rgb(40, 40, 40);
}

.link-drk {
  color: rgb(179, 219, 255);
  text-decoration: none;
  font-weight: 500;
}

.download-btn-drk {
  font-family: Montserrat;
  color: rgb(179, 219, 255);
  background-color: rgb(50, 50, 50);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 326px;
  padding: 8px;
  border: 1px solid rgb(179, 219, 255);
  box-shadow: none;
  border-radius: 8px;
  margin-top: 24px;
  cursor: pointer;
}

.download-btn-drk:hover {
  background-color: rgb(25, 25, 25);
}

.download-icon {
  margin: -4px 8px 0px 0px;
}

.hidden-link-drk {
  color: white;
  text-decoration: none;
}

@media (max-width: 900px) {
  .App {
    text-align: center;
    font-family: "Montserrat";
    background-image: url("./assets/background.jpg");
    background-size: 200%;
  }

  .home-hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .home-hero-img {
    width: 140px;
    /* border: 1px solid rgb(180, 180, 180); */
  }

  .home-txt {
    margin-left: 0px;
    width: 100%;
    min-width: 340px;
    /* border: 1px solid rgb(180, 180, 180); */
  }

  .about-hero {
    width: 50%;
    /* border: 1px solid rgb(180, 180, 180); */
  }

  .about-imgs {
    display: none
  }

  .resume-hero {
    width: 80%;
    height: 70%;
    overflow: scroll;
    /* border: 1px solid rgb(180, 180, 180); */
  }

  .resume-content {
    flex-direction: column;
    /* display: flex;
    justify-content: space-between;
    text-align: left; */
  }

  .resume-subtitle {
    font-size: 10px;
  }

  .resume-left {
    width: 100%
  }

  .resume-right {
    width: 100%
  }

  .download-btn-drk {
    margin: auto;
    margin-top: 16px;
  }

  .connect-hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .connect-hero-img {
    width: 140px;
    /* border: 1px solid rgb(180, 180, 180); */
  }

  .connect-txt {
    margin-left: 28px;
    width: 100%;
    min-width: 340px;
    /* border: 1px solid rgb(180, 180, 180); */
  }
}

@media (max-width: 550px) {
  .nav-btns {
    display: none;
  }

  .dark-mode-toggle {
    display: none;
  }

  .mobile-nav {
    display: flex;
    width: 100%;
  }

  .nav-btn {
    width: 25%;
  }
}
